<!DOCTYPE html>
<html>
	<body>

		<h4>Delete Book</h4>
		<p>Are you sure you want to delete?</p><br>
		<form method='POST'>
			<input type='submit' value='Delete'>
			<a href="{{url_for('showBook')}}">Cancel</a>
		</form>
	</body>
</html>