<!DOCTYPE html>
<html>
	<body>

		<h4>Books</h4>

		{% for i in books %}
			<p>{{i.title}}</p>
			<a href="{{url_for('editBook', book_id = i.id)}}">Edit Book</a><br>
			<a href="{{url_for('deleteBook', book_id = i.id)}}">Delete Book</a><br>
		{% endfor %}
	</body>
</html>